body{
    font-family: roboto;
}

.navbar .navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
}




.nav a{
    color: #111;
}

.navbar .collapse li.nav-item a{
    color: #111111;
}

.navbar .collapse li.nav-item a.disabled{
    color: #111111;
}


.container .row .col-4 button.btn-primary{
    background-color: coral;
    border-color: coral;
}

section .cont{
    background-color:  #37474f;
    color: white;
}

.main{
    background-color: #f5f5f5;
}

.main p{
    font-size: 0.9rem;
}

footer{
    background-color: #37474f;
    color: white;
    font-size: 0.9rem;
}

footer .row .form-group button{
    background-color: coral;
    border-color: coral;
}


