


.folder:hover{
    cursor: pointer;
}

.file:hover{
    cursor: pointer;
}


.material-icons{
    vertical-align:  middle;
}

li{
    list-style-type: none;
}

/*
.folder.closed > ul{
    display: none;
}
 */


.closed > ul {
   display: none;
}




