$body-back-color: #242530;
$head-img : url(../img/m-h-night.jpg);
$text-color : white;
$type_font: 'Hind', sans-serif;
$logo_font: 'Fresca',sans-serif;
$words_clr: #FF4500;
$btn_color: #FFA500;
$sect-back-color:#3b3f50;
$banner-color1:#FFA500 ;
$banner-color2: #932d52;
$clr_grey: #c0c3ce;