$body-back-color: white;
$head-img : url(../img/m-h-day.jpg);
$text-color: #2c2f3c;
$type_font : 'Hind' , sans-serif;
$logo_font: 'Hind',sans-serif;
$words_clr : #1E90FF;
$btn_color : #699900;
$sect-back-color: #242530;
$banner-color1: #699900;
$banner-color2: #4169E1;
$clr_grey: #c0c3ce;