body{
    margin: 0;
    padding: 0;
}

.main{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(#ffb6c1,#b19cd9);
}

.btn{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.new_game{
    font-size: 16px;
    padding: 15px 32px;
    border-color: blue;
}

.skp_qst{
    font-size: 16px;
    padding: 15px 32px;
    border-color: blue;
}

.question{
    margin-top: 50px;
    text-align: center;
}

.optns{
    margin-top: 75px;
    display: flex;
    justify-content:space-around ;

}

.var{
    text-align: center;
    height: 100px;
    width: 250px;
    border: 1px solid ;
    background: blueviolet;
    border-radius: 5px;
    color: white;
    margin-bottom: 75px;
}




